# https://www.chezmoi.io/

{{- /* Boolean feature tags */ -}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- /* Detects GitHub Codespaces, VSCode Remotes, Containers, etc. */ -}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $interactive := stdinIsATTY -}}

{{- if not $ephemeral -}}
{{-   if $interactive -}}
{{-     $personal = promptBoolOnce . "personal" "personal" -}}
{{-     $work = promptBoolOnce . "work" "work" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $name := "" -}}
{{- if (env "GIT_CONFIG_USER_NAME") -}}
{{-   $name = env "GIT_CONFIG_USER_NAME" -}}
{{- else if $interactive -}}
{{-   $name = promptStringOnce . "name" "name" -}}
{{- else if hasKey . "name" -}}
{{-   $name = .name -}}
{{- end -}}

{{- $email := "" -}}
{{- if (env "GIT_CONFIG_USER_EMAIL") -}}
{{-   $email = env "GIT_CONFIG_USER_EMAIL" -}}
{{- else if $interactive -}}
{{-   $email = promptStringOnce . "email" "email" -}}
{{- else if hasKey . "email" -}}
{{-   $email = .email -}}
{{- end -}}

{{- $intDomain := "" -}}
{{- $intUser := "" -}}
{{- $intJumpName := "" -}}
{{- $intJumpHost := "" -}}
{{- $intJumpPort := "" -}}
{{- if $interactive -}}
{{-   $intDomain = promptStringOnce . "intDomain" "internal domain" -}}
{{-   if $intDomain -}}
{{-     $intUser = promptStringOnce . "intUser" "internal user" -}}
{{-     $intJumpName = promptStringOnce . "intJumpName" "internal jumphost name" -}}
{{-     $intJumpHost = promptStringOnce . "intJumpHost" "internal jumphost host" -}}
{{-     $intJumpPort = promptStringOnce . "intJumpPort" "internal jumphost port" -}}
{{-   end -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  ephemeral: {{ $ephemeral }}
  work: {{ $work }}
  headless: {{ $headless }}
  personal: {{ $personal }}
  codespaces: {{ $codespaces }}

  name: {{ $name | quote }}
  email: {{ $email | quote }}

  internal:
    jumphost:
      name: {{ $intJumpName | quote }}
      host: {{ $intJumpHost | quote }}
      port: {{ $intJumpPort | quote }}
    domain: {{ $intDomain | quote }}
    user: {{ $intUser | quote }}
