# https://git-scm.com/docs/gitattributes

* text=auto eol=lf

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

dot_gitconfig.tmpl linguist-language=gitconfig
dot_gitattributes.tmpl linguist-language=gitattributes
dot_editorconfig linguist-language=editor-config
*.yaml.tmpl linguist-language=yaml
