# https://git-scm.com/docs/gitattributes

# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Collapse generated and vendored files on GitHub
*.lock linguist-generated=true merge=ours

# Reduce conflicts on markdown files
*.md merge=union

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Templates
dot_editorconfig linguist-language=editor-config
dot_gitattributes linguist-language=gitattributes
dot_gitconfig.tmpl linguist-language=gitconfig
Brewfile.tmpl linguist-language=ruby
*.yaml.tmpl linguist-language=yaml
*.sh.tmpl linguist-language=bash
*.ps1.tmpl linguist-language=powershell
*.json.tmpl linguist-language=json
