* text=auto

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

dot_gitconfig.tmpl linguist-language=gitconfig
dot_gitattributes.tmpl linguist-language=gitattributes
dot_editorconfig linguist-language=editor-config
