# https://github.com/Homebrew/homebrew-bundle

tap "homebrew/bundle"
tap "homebrew/core"

brew "gcc"
brew "util-linux"

brew "atuin"
brew "bash-completion"
brew "bash-preexec"
brew "bat"
brew "chezmoi"
brew "dog"
brew "eza"
brew "fzf"
brew "ghq"
brew "git"
brew "git-delta"
brew "gnupg"
brew "nmap"
brew "openssh"
brew "ssh-copy-id"
brew "topgrade"

{{- if eq .chezmoi.os "dariwn" }}
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-versions"
tap "homebrew/services"

brew "bash"
brew "findutils"
brew "grep"

cask "docker"
cask "firefox-developer-edition"
cask "google-chrome-dev"
cask "visual-studio-code"
{{- end }}
