# https://github.com/Homebrew/homebrew-bundle

tap "homebrew/bundle"
tap "homebrew/core"

brew "gcc"
brew "util-linux"

brew "atuin"
brew "bash-completion"
brew "bash-preexec"
brew "bat"
brew "chezmoi"
brew "dog"
brew "exa"
brew "fzf"
brew "ghq"
brew "git"
brew "gnupg"
brew "helm"
brew "k9s"
brew "krew"
brew "kubernetes-cli"
brew "kubectx"
brew "nmap"
brew "openssh"
brew "ssh-copy-id"
brew "topgrade"
brew "volta"

{{- if eq .chezmoi.os "dariwn" }}
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-versions"
tap "homebrew/services"

brew "bash"
brew "findutils"
brew "grep"
brew "mkcert"
brew "moreutils"

cask "docker"
cask "firefox-developer-edition"
cask "google-chrome-dev"
cask "jetbrains-toolbox"
cask "logitech-options"
cask "visual-studio-code"
cask "vlc"
{{- end }}
