# https://github.com/Homebrew/homebrew-bundle

brew "gcc"
brew "util-linux"

brew "atuin"
brew "bash-completion@2"
brew "bash-preexec"
brew "bat"
brew "chezmoi"
brew "difftastic"
brew "doggo"
brew "eza"
brew "fzf"
brew "ghq"
brew "git"
brew "git-delta"
brew "gnupg"
brew "nmap"
brew "openssh"
brew "ripgrep"
brew "ssh-copy-id"
brew "starship"
brew "topgrade"

{{- if eq .chezmoi.os "dariwn" }}
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-versions"
tap "homebrew/services"

brew "bash"
brew "uutils-findutils"

cask "podman-desktop"
cask "firefox@developer-edition"
cask "google-chrome@dev"
cask "visual-studio-code"
{{- end }}
