{{- if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
#!/bin/bash

# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}
brew bundle install
sudo ln -s "$(brew list gcc | /usr/bin/grep -E "bin/gcc-[[:digit:]]{2}$")" /usr/bin/gcc
{{- end }}
