{{- if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
#!/bin/bash

{{- if (eq .chezmoi.osRelease.id "fedora") -}}
sudo dnf install git
{{- end }}

curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh | bash
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}
