#!/usr/bin/env bash

# set PATH so it includes krew's private bin if it exists
if [ -d "${KREW_ROOT:-$HOME/.krew}/bin" ] ; then
    PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

export PATH;

{{- if (contains "microsoft" .chezmoi.kernel.osrelease) }}
# Add WSL translated PATH
export PATH="$PATH:$WSL_EXEC_PATH";
{{- end }}
